
code{
    background-color: #f8f9fa;
    border: solid 1px #eee;
    border-radius: 2px;
    display: block;
    padding: 1.5rem;
}

@font-face {
    font-family: 'Overpass-Bold';
    src:local('Overpass-Bold'), url(../../fonts/Overpass-Bold.ttf) format('truetype')
}