.ConfirmAnalysis {
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 100%;
  .rightAlign {
    float: right;
  }
}

.rightbarTitle {
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

.rightBar {
  .pf-c-drawer__body {
    background-color: white;
  }
  h1 {
    font-weight: bold;
    font-size: 1.2rem;
  }
  .pf-c-drawer__head {
    border-bottom: 2px solid $pfBackgroundGrey;
  }
}

.page-section-no-results {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
