$full: 100%;
$description-top-padding: 0.3rem;

.modelForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    white-space: nowrap;
  }
}

.detail-wrapper {
  @include flex(column);
  min-height: 70vh;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.pf-c-modal-box {
  width: 400px !important;
}

.detail-top-wrapper {
  @include flex(row);
  width: $full;
  padding: 10px;
  h1 {
    font-weight: bold;
    font-size: 2rem;
  }
  p {
    font-size: 1.1rem;
  }
  .detail-top-left {
    width: 80%;
  }
  .detail-patient {
    padding-top: 5vh;
    width: 100%;
    @include flex(row);
    h2 {
      font-weight: bold;
      font-size: 1.5rem;
    }
    .detail-patient-title {
      padding-top: $description-top-padding;
      padding-left: 1rem;
      p {
        color: $pfGrey;
      }
    }
    .detail-patient-name-age {
      margin-left: 15vw;
      @include flex(row);
      .detail-patient-name-age-title {
        padding-top: $description-top-padding;
        text-align: right;
        h3 {
          font-weight: bold;
          font-size: 1rem;
        }
      }
      .detail-patient-name-age-info {
        padding-top: $description-top-padding;
        padding-left: 1rem;
        p {
          color: $pfGrey;
        }
      }
    }
  }
  .detail-top-right {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    margin-left: 2rem;
    .detail-top-right-box {
      background-color: white;
      padding: 2rem;
      @include flex(column);
      justify-content: center;
      align-items: center;
      line-height: 1.5;
      Button {
        margin: 0.8rem 0;
      }
      .numberCircle {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        padding: 11px;

        background: $pfGrey;
        border: 2px solid #666;
        color: white;
        text-align: center;

        font: 32px Arial, sans-serif;
      }
    }
  }
}

.detail-bottom-wrapper {
  width: $full;
  @include flex(row);
  min-height: 60vh;
  padding-bottom: 6vh;
  .detail-select-studies {
    margin-left: 0.5rem;
    background-color: white;
    width: 20%;
    min-height: 100%;
    h1 {
      font-weight: bold;
      color: $pf4Black;
    }
  }
}

.fullHeight {
  min-height: 100vh;
}
