.board-title {
    font-family: Overpass-Bold;
}


$sectionAreaSpacing:15px;

.sectionArea{
  margin-bottom: $sectionAreaSpacing;
}

.classificationText{
  color:grey;
}

.rowContent{
  padding:0;
  max-height: 99;
}
