.board-title {
  font-family: Overpass-Bold;
}

$sectionAreaSpacing: 15px;

.sectionArea {
  margin-bottom: $sectionAreaSpacing;
}

.classificationText {
  color: grey;
}

.PastAnalysisTitle {
  font-weight: bold;
  font-size: 1.3rem;
}

.series-table-row {
  td {
    margin: 0px !important;
    // max-width: 50px;
    vertical-align: top !important;
  }
  tspan {
    font-weight: bold;
  }
}

.viewImageClick {
  cursor: pointer;
  color: #42c2f5;
  &:hover {
    text-decoration: underline;
  }
}

.MRNsearchBar {
  width: 20vw;
  position: absolute;
  padding-left: 1rem;
  padding-top: 5px;
}

.PastAnalysis{
  position: relative;
  .pf-c-options-menu {
    display: none !important;
  }
}

.loading {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
}

#pastAnalysisTable {
  .pf-c-button {
    color: black;
  }
}