.board-title {
  font-family: Overpass-Bold;
}

$sectionAreaSpacing: 15px;

.sectionArea {
  margin-bottom: $sectionAreaSpacing;
}

.classificationText {
  color: grey;
}

.PastAnalysisTitle {
  font-weight: bold;
  font-size: 1.3rem;
}

.anaylsisTableRow {
  td {
    margin: 0px !important;
    max-width: 40px;
    vertical-align: top !important;
  }
  tspan {
    font-weight: bold;
  }
}

.viewImageClick {
  cursor: pointer;
  color: #42c2f5;
  &:hover {
    text-decoration: underline;
  }
}
