$imgViewerBackgroundColour: black;
$textColor: white;
$GreyTextColor: #868686;
$opacityLevel: 0.75;

.invertImg {
  filter: invert(1) brightness(200%) !important;
  // filter:brightness(1) !important;
  // filter: contrast(200%) !important;
}

.dicomViewerHeader {
  z-index: 2;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, $opacityLevel); //$imgViewerBackgroundColour;
  color: $textColor;
  height: 8vh;
  button {
    margin-left: 1rem;
    height: 8vh;
    font-size: 1.5rem;
    color: $textColor;
    background: rgba(0, 0, 0, 0); //$imgViewerBackgroundColour;
    border: none;
    outline: none;
  }
  .highlightedMod {
    border-bottom: 3px solid $headerBlue;
    color: $headerBlue;
  }
  .headerlogo {
    @extend .flex_col;
    // padding: 5px;
    line-height: 1.1;
    a {
      color: white;
    }
  }
}

.predictionValues {
  position: absolute;
  right: 0;
  p {
    color: $textColor !important;
    .blueText {
      color: $headerBlue;
      font-weight: bold;
    }
  }
  &.moveUp {
    top: -100px;
  }
  &.moveDown {
    top: 8vh;
  }
  &.rightMargin {
    margin-right: 5rem;
  }
}

.dicomViewerBottomBox {
  z-index: 2;
  width: 100vw;
  background: rgba(0, 0, 0, $opacityLevel); //$imgViewerBackgroundColour;
  color: $GreyTextColor;
  h2,
  p {
    color: $GreyTextColor;
  }
  h2 {
    font-size: 1.5rem;
  }
  .hideButton {
    @extend .flex_row;
    position: relative;
    justify-content: flex-end;
    margin-right: 1.5rem;
  }
  .PredictionArea {
    @extend .flex_col;
    align-items: center;
    justify-content: flex-end;

    tspan {
      fill: $textColor !important;
    }
  }
  .predictions {
    padding-left: 2rem;
  }
  .padding-l-2rem {
    padding-left: 2rem;
  }
  span {
    color: $textColor;
    font-weight: bold;
  }
  .topMargin {
    margin-top: 0.8rem;
  }
}

.expandedBottom {
  transition: height 1s;
  height: 25vh;
}

.collapsedBottom {
  height: 3vh;
  transition: height 1s;
  // overflow: hidden;
}

.imgViewer {
  @extend .flex_col;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
  background-color: $imgViewerBackgroundColour;
}

.pointer {
  cursor: pointer;
}

.layerContainer {
  @extend .flex_row;
  justify-content: center;
  height: 100%;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

#imageContainer {
  overflow: hidden !important;
}

.dicomViewerImg {
  height: 100%;
}

.bottomInfoBox {
  justify-content: space-around;
}

.displayNone {
  transition: 1s;
  display: none !important;
}
