.InputRow {
  display: flex;
  flex-direction: row;
  margin: $page-section-margin;
  .InputRowField {
    width: 25%;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    label {
      font-weight: bold;
    }
    #toggle-Privacy-Level {
      width: 1000px;
    }
  }
}

.input-row-label {
  margin: $page-section-margin;
  margin-bottom: 0;
}

.PatientLookupWrapper {
  padding-bottom: 0px;
}

.noImagesFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
