.InputRow {
  display: flex;
  margin: 1rem;
  
  .InputRowField {
    width: 30em;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    label {
      font-weight: bold;
    }
    div {
      justify-content: space-between;
    }
  }
}

.PatientLookupWrapper {
  padding-bottom: 0;
}

.noImagesFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-display {
  display: inline-flex;
  width: 100%;
}
