.SelectionStudy {
  padding: 0.8rem;
  line-height: 2;
  cursor: pointer;
}

#studyDescription {
  text-align: left;
}

#blueBadge {
  float: right;
}

.greyText {
  color: $pfGrey;
}

.selected {
  border-left: 2px solid $pfBlue;
}

.notSelected{
  background-color: #ededed; // lighter than default light gray
}


