.series-table-row {
    .thumbnail {
        height: 7em;
        min-height: 7em;
        width: 7em;
        min-width: 7em;
    }
}

.analysis-failed-text {
    color: #C9190B;
    margin-left: 0.5em;
}