@import "../../../assets/scss/helpers/variables";

.pf-c-dropdown {
  &__menu {
    &-item {
      color: #000 !important;
    }
  }
}

.footer {
  display: flex;
  position: fixed;
  height: $footer-height;
  bottom: 0em;
  left: 0em;
  right: 0em;
  width: 100%;
  justify-content: center;
  padding: 1.5em 0;
  min-height: unset;
  
  .footer-content {
    .pf-c-page__header-tools:first-child {
      margin-right: 2em;
    }

    .pf-c-page__header-tools:last-child {
      margin-left: 2em;
    }
  }
  
  .footer-text {
    color: white;
    text-align: center;
  }

  .footer-link {
    display: flex;
    align-items: center;
  }
}

.page-wrapper {
  width: 100%;
  height: 100vh;
  padding-top: var(--pf-c-page__header--MinHeight);
  padding-bottom: $footer-height;
}

.pf-c-page__header-tools:nth-child(3) {
  justify-content: flex-end;
}

.logo {
  margin-right: 4rem;
  padding: 0.8rem;
  height: 70px;
  width: 190px;
  min-height: 70px;
  min-width: 190px;
  cursor: pointer;
}

.pf-c-page__header-brand {
  min-height: 70px;
  min-width: 190px;
}

.page-body {
  min-height: calc(100vh - var(--pf-c-page__header--MinHeight) - #{$footer-height});
  display: flex;
  flex-direction: column;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
