@import "../../../assets/scss/helpers/variables";

.pf-c-dropdown {
  &__menu {
    &-item {
      color: #000 !important;
    }
  }
}

.footer {
  display: flex;
  position: fixed;
  height: 0.5em;
  bottom: 0em;
  left: 0em;
  right: 0em;
  width: 100%;

  .footer-text {
    color: white;
    text-align: center;
  }

  .footer-link {
    display: flex;
    align-items: center;

    .footer-logo {
      width: 2em;
      margin-left: 0.4em;
      margin-right: 0.4em;
    }
  }
}

.footer-styling {
  margin-bottom: 0.5em;
}

.pf-c-page__header-tools:nth-child(3) {
  justify-content: flex-end;
}
