@import "../../../assets/scss/helpers/variables";

.pf-c-dropdown {
  &__menu {
    &-item {
      color: #000 !important;
    }
  }
}

.footer {
  display: flex;
  position: fixed;
  height: 55px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
}

.footerText {
  color: white;
  text-align: center;
}

.footerLink {
  display: flex;
  align-items: center;
}
.footerLogo {
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.footer-styling {
  margin-bottom: 55px;
}

.pf-c-page__header-tools:nth-child(3) {
  justify-content: flex-end;
}
