@import "../../assets/scss/helpers/variables";

.pf-c-dropdown {
  &__menu {
    &-item {
      color: #000 !important;
    }
  }
}

.footer {
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  margin-top: 50px;
}

.footerText {
  color: white;

}
.footerLink {
  display: flex;
  align-items: center;
}
.footerLogo {
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.pf-c-page__header-tools {
  // margin: 0 auto;
  // grid-column: unset;
}

.pf-c-page__header {
  display: flex;
}

.pf-c-page__header-tools:nth-child(3) {
  justify-content: flex-end;
}